.navContainer {
  // outline: 2px solid orange;
  background: rgba(255, 255, 255, 0.5);
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 1rem;
  padding-right: 2.5rem;
  position: sticky;

  .navToggle {
    //* Opens nav in mobile
    height: auto;
    width: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // outline: 2px solid green;

    .navMenu_mobile { // This opens up the nav menu, allows it to cover the screen
      // outline: 2px solid red;
      position: fixed;
      height: 100vh;
      width: 100vw;
      left: 0px;
      bottom: 0px;
      background-color: white;
      z-index: 2000;
      display: flex;
      align-items: flex-start;
      justify-content: center;

      .navMenu_mobile_close {
        // outline: 2px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 0px;
        margin-right: 1rem;
      }
      .navMenu_mobile_items{ // Give the nav items a smaller container
        outline: 2px solid black;
        height: 50%;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 2rem;
      }

      li {
        list-style: none;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      // outline: 2px solid red;
      object-fit: contain;
    }
  }

  .phoneNumContainer {
    //* Phone number so it is not transparent
    color: black;
    opacity: 1;
  }

  &.navContainer > *:nth-child(2) {
    // outline: 2px solid red;
    margin-right: auto;
    // margin-right: 35%;
    margin-left: auto;
  }
}
